@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:wght@200&family=Smooch+Sans&family=Special+Elite&display=swap');
body{
    font-family: 'Poppins', sans-serif;
background-color: #faeee7;
color:#33272a ;
}

h1{
    font-weight:950;
}