@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:wght@200&family=Smooch+Sans&family=Special+Elite&display=swap');

.header{
    
      
           
        
        
        

    display: inline;
    padding-right: 10px;
    font-weight: bolder;
    font-size: 40px;
    color:rgb(0, 0, 0);
    background-color: #dca0ff4d;
    padding-left: 10px;
    margin-left: auto;
    /* border-bottom: 6px solid #f582ae; */
    /* color: #fef6e4; */
    border-radius: 7px;
    

}
body{
        border-radius: 10px;
        padding: 10px;
        border: 2px solid pink;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        background-color: #ffffff;
        color: #000000;
        min-height: 1000px;;
   
   
  
}

.h1{
    float: right;
    
    text-align: left;
    white-space: nowrap;
    
    font-family:'Montserrat', sans-serif; 
    font-weight:900;
    font-size:xx-large
    
    


}

table,td,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
}

input[type=submit] {
    background: #ec008c;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 12px 23px 12px;
    margin-top: 12px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-weight: 700;
}
.center-text{
    text-align: center;
}
.p{
    box-sizing: content-box;
width: 60%;
border: solid inherit;

padding: 5px;
background: #7060ad;
border-radius: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
font-family: 'Poppins', sans-serif;
        font-size: 17px;
        color: #d9d4e7;

}
.p2{
    float: right;
    box-sizing: content-box;
width: 60%;
border: solid inherit;

padding: 5px;
background: #7060ad;
border-radius: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
font-family: 'Poppins', sans-serif;
        font-size: 17px;
        color: #d9d4e7;

}
.float-left{
    float: left;
}
.bp{
   
    font-weight: bold;
    margin-left: 550px;
}
.h2{
    margin-left: 550px;
    
    font-weight:1000;
    font-size:xx-large
}
.h3{
    font-weight:500;
    margin-left: 550px;
    font-size: 20px;
    font-weight:9000;
    
}
.bp2{
   
    font-weight: bold;
    margin-right: 550px;
}
.h22{
    margin-right: 550px;
    
    font-weight:1000;
    font-size:xx-large
}
.h32{
    font-weight:500;
    margin-right: 550px;
    font-size: 20px;
    font-weight:9000;
    
}